#container{
    background-color: rgb(238, 144, 144);
    width: 200px;
    height: 200px;
    border-radius: 120px;
    padding: 10px;
    box-shadow: 5px 5px 5px ;
}
#container{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}
#displayScreen{
    background-color: white;
    border-radius: 120px;
    width:auto;
    height: 70px;
    padding:5px;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-top: 40p;
}
#container h3{
    font-size: bold;
    color: rgb(30, 87, 210);
}


